body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:59px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:59px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:22px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:588px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:59px;
  width:230px;
  height:588px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:286px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224 {
  position:absolute;
  left:9px;
  top:311px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1225 {
  position:absolute;
  left:9px;
  top:276px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1226 {
  position:absolute;
  left:9px;
  top:241px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1227 {
  position:absolute;
  left:9px;
  top:206px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1228 {
  position:absolute;
  left:9px;
  top:346px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1229 {
  position:absolute;
  left:9px;
  top:381px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1230 {
  position:absolute;
  left:9px;
  top:134px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1231 {
  position:absolute;
  left:9px;
  top:99px;
  width:214px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:51px;
}
#u1233 {
  position:absolute;
  left:229px;
  top:59px;
  width:1035px;
  height:51px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:18px;
  width:1031px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  position:absolute;
  left:238px;
  top:75px;
  width:57px;
  height:20px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1237 {
  position:absolute;
  left:390px;
  top:78px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:103px;
}
#u1239 {
  position:absolute;
  left:538px;
  top:126px;
  width:129px;
  height:102px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:42px;
  width:125px;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:420px;
  top:256px;
  width:57px;
  height:20px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1243 {
  position:absolute;
  left:519px;
  top:254px;
  width:300px;
  height:25px;
}
#u1243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:420px;
  top:302px;
  width:57px;
  height:20px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1246 {
  position:absolute;
  left:519px;
  top:300px;
  width:300px;
  height:69px;
}
#u1246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
