body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671 {
  position:absolute;
  left:200px;
  top:0px;
  width:800px;
  height:60px;
}
#u3672 {
  position:absolute;
  left:2px;
  top:22px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
}
#u3673 {
  position:absolute;
  left:889px;
  top:10px;
  width:93px;
  height:41px;
}
#u3674 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3675 {
  position:absolute;
  left:216px;
  top:10px;
  width:41px;
  height:41px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3677 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3678 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3679 {
  position:absolute;
  left:267px;
  top:10px;
  width:41px;
  height:41px;
}
#u3680 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:940px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:940px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:462px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3684 {
  position:absolute;
  left:26px;
  top:80px;
  width:71px;
  height:20px;
  color:#999999;
}
#u3685 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3686 {
  position:absolute;
  left:26px;
  top:170px;
  width:57px;
  height:20px;
  color:#999999;
}
#u3687 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3688 {
  position:absolute;
  left:20px;
  top:190px;
  width:105px;
  height:225px;
}
#u3688_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3689 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3691 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3692 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3693 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3693_img.selected {
}
#u3693.selected {
}
#u3694 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3696 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3692_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3697 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3699 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3700 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3702 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3703 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3704 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3705 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3706 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3708 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3709 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3710 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3711 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3712 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3713 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3713_img.selected {
}
#u3713.selected {
}
#u3714 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3715 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3716 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3712_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3717 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3718 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3719 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3720 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3721 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3722 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3723 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3724 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3725 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3726 {
  position:absolute;
  left:20px;
  top:100px;
  width:100px;
  height:65px;
}
#u3726_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3729 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3730 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3731 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3732 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3733 {
  position:absolute;
  left:0px;
  top:40px;
  width:95px;
  height:20px;
  color:#FFFFFF;
}
#u3734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3734 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3735 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3736 {
  position:absolute;
  left:26px;
  top:420px;
  width:57px;
  height:20px;
  color:#999999;
}
#u3737 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3738 {
  position:absolute;
  left:20px;
  top:440px;
  width:98px;
  height:85px;
}
#u3738_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3739 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3740 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3741 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3742 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3743 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3744 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3745 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3746 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3747 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3748 {
  position:absolute;
  left:0px;
  top:60px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3749 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3750 {
  position:absolute;
  left:3px;
  top:1px;
  width:66px;
  white-space:nowrap;
}
#u3752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u3752 {
  position:absolute;
  left:200px;
  top:60px;
  width:800px;
  height:40px;
  text-align:left;
}
#u3753 {
  position:absolute;
  left:2px;
  top:11px;
  width:796px;
  word-wrap:break-word;
}
#u3754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u3754 {
  position:absolute;
  left:200px;
  top:100px;
  width:800px;
  height:1px;
}
#u3755 {
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3756 {
  position:absolute;
  left:232px;
  top:130px;
  width:92px;
  height:85px;
}
#u3756_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3757 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u3758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3758 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3758_img.selected {
}
#u3758.selected {
}
#u3759 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3760 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3761 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3757_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3762 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u3763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3763 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3764 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3765 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3766 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3767 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3768 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
}
#u3769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3769 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3770 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1001px;
}
#u3771 {
  position:absolute;
  left:1000px;
  top:0px;
  width:1px;
  height:1000px;
}
#u3772 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u3774 {
  position:absolute;
  left:200px;
  top:960px;
  width:800px;
  height:40px;
}
#u3775 {
  position:absolute;
  left:2px;
  top:11px;
  width:796px;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u3776 {
  position:absolute;
  left:200px;
  top:960px;
  width:800px;
  height:1px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u3778 {
  position:absolute;
  left:914px;
  top:969px;
  width:78px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3779 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u3780 {
  position:absolute;
  left:0px;
  top:999px;
  width:1000px;
  height:1px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
